package ${basePackage}.${table.moduleName}.controller.${table.businessName}.vo;

#if ($fieldRepeats.size() > 0)
import com.hujiang.common.mybatis.validator.annotations.IsFieldRepeat;
import ${basePackage}.${table.moduleName}.model.db.${table.className}DO;
import ${basePackage}.${table.moduleName}.service.${table.className}Service;
#end
import lombok.*;
import java.util.*;
import io.swagger.annotations.*;
import javax.validation.constraints.*;
## 处理 Date 字段的引入
#foreach ($column in $columns)
#if (${column.createOperation} && (!${column.updateOperation} || !${column.listOperationResult})
    && ${column.javaType} == "LocalDateTime")## 时间类型
import org.springframework.format.annotation.DateTimeFormat;
import java.time.LocalDateTime;
import static ${DateUtilsClassName}.FORMAT_YEAR_MONTH_DAY_HOUR_MINUTE_SECOND;
#break
#end
#if (${column.createOperation} && ${column.updateOperation} && ${column.listOperationResult}
&& ${column.javaType} == "LocalDate")
import org.springframework.format.annotation.DateTimeFormat;

import static ${DateUtilsClassName}.FORMAT_YEAR_MONTH_DAY;
    #break
#end
#if (${column.createOperation} && ${column.updateOperation} && ${column.listOperationResult}
&& ${column.javaType} == "LocalTime")
import org.springframework.format.annotation.DateTimeFormat;

import static ${DateUtilsClassName}.FORMAT_HOUR_MINUTE_SECOND;
    #break
#end
#end

@ApiModel("${table.classComment}创建 Request VO")
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
#if ($fieldRepeats.size() > 0)
@IsFieldRepeat(fields = {#foreach ($fieldRepeat in $fieldRepeats) "${fieldRepeat.javaField}" #end}, baseClass = ${table.className}DO.class, serviceClass = ${table.className}Service.class, message = "#foreach ($fieldRepeat in $fieldRepeats)${fieldRepeat.columnComment}#if($foreach.hasNext),#end#end存在重复")
#end
public class ${sceneEnum.prefixClass}${table.className}CreateReqVO extends ${sceneEnum.prefixClass}${table.className}BaseVO {

#foreach ($column in $columns)
#if (${column.createOperation} && (!${column.updateOperation} || !${column.listOperationResult}))##不是通用字段
    #parse("codegen/java/controller/vo/_column.vm")

#end
#end
}
