package ${basePackage}.${table.moduleName}.convert;

import java.util.*;

import ${PageResultClassName};

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${basePackage}.${table.moduleName}.controller.${table.businessName}.vo.*;
import ${basePackage}.${table.moduleName}.model.db.${table.className}DO;

/**
 * ${table.classComment} Convert
 *
 * @author ${table.author}
 */
@Mapper
public interface ${table.className}Convert {

    ${table.className}Convert INSTANCE = Mappers.getMapper(${table.className}Convert.class);

    ${table.className}DO convert(${sceneEnum.prefixClass}${table.className}CreateReqVO bean);

    ${table.className}DO convert(${sceneEnum.prefixClass}${table.className}UpdateReqVO bean);

    ${sceneEnum.prefixClass}${table.className}RespVO convert(${table.className}DO bean);

    List<${sceneEnum.prefixClass}${table.className}RespVO> convertList(List<${table.className}DO> list);

    default IPage<${sceneEnum.prefixClass}${table.className}RespVO> convertPage(IPage<${table.className}DO> page){
        return page.convert(this::convert);
    };

    List<${sceneEnum.prefixClass}${table.className}ExcelVO> convertList02(List<${table.className}DO> list);

}
